p,
h1,
h4,
h2,
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: larger;
  background-color: black;
  color: #fff;
}

h2 {
  color: #fff;
  font-size: medium;
  text-align: justify;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  background-color: black;
  color: #fff;
}

body {
  position: relative;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: medium;
  text-align: justify;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
}

header img {
  margin-right: auto;
}

#home, #sobre-mi, #experiencia, #skills, #proximamente, #contacto {
  background-color: #333;
  color: #fff;
  text-align: justify;
  padding: 10px;
}

a {
  color: #fff;
}

ul {
  list-style-type: none;
}

.boton {
  display: block;
  cursor: pointer;
  background-color: #010101;
  color: #fff;
  border: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 40px;
}

.boton:hover {
  background-color: #b9b629;
}

.imagen-index {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #333;
  color: white;
  text-align: justify;
  padding: 10px;
  row-gap: 15px;
}

.grid-container h2 {
  color: black;
}

.p-skills1, .p-skills2, .p-skills3 {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-skills1, .img-skills2, .img-skills3 {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  display: grid;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1/4;
}

.section1 img {
  width: 30%;
}

.section2 {
  display: grid;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1/4;
}

.section2 img {
  width: 20%;
}

.section3 {
  display: grid;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1/4;
}

.section3 img {
  width: 30%;
}

.grid-container-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #333;
  color: #fff;
  text-align: justify;
  padding: 10px;
  gap: 15px;
}

.section1-about {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/3;
}

.p-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/3;
  margin-right: 15px;
}

.section2-about {
  grid-column: 1/3;
  grid-row: 3/5;
}

.section3-about {
  grid-column: 3/5;
  grid-row: 3/5;
}

form {
  background-color: #a39d9d;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #030303;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #b9b629;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.boton {
  display: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #b9b629;
}

footer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #010101;
  color: #fff;
  border: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 40px;
}
.boton:hover {
  background-color: #b9b629;
}

.menu-icon {
  display: none;
}

.menu-icon-close {
  display: none;
}

.botones-contacto a {
  display: block;
  width: 250px;
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border-radius: 4px;
  background-color: #010101;
}
.botones-contacto a:hover {
  background-color: #b9b629;
}

form {
  width: 63%;
  margin: auto;
  background-color: #a39d9d;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #030303;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #b9b629;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #b9b629;
}

.grid-experiencia {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
  padding: 20px;
  background-color: none;
}
.grid-experiencia section {
  display: contents;
}
.grid-experiencia img {
  margin: auto;
  width: 100%;
  border-radius: 5px;
}
.grid-experiencia p {
  padding: 10px;
  background-color: white;
  color: black;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1/-1;
}
.grid-experiencia .experiencia1 img,
.grid-experiencia .experiencia3 img,
.grid-experiencia .experiencia5 img {
  grid-column: 1/2;
}
.grid-experiencia .experiencia1 p,
.grid-experiencia .experiencia3 p,
.grid-experiencia .experiencia5 p {
  grid-column: 2/7;
}
.grid-experiencia .experiencia2 img,
.grid-experiencia .experiencia4 img {
  grid-column: 6/7;
}
.grid-experiencia .experiencia2 p,
.grid-experiencia .experiencia4 p {
  grid-column: 1/6;
}
.grid-experiencia .experiencia2 img {
  grid-row: 2/3;
}
.grid-experiencia .experiencia4 img {
  grid-row: 4/6;
}
.grid-experiencia .experiencia5 img {
  grid-row: 6/7;
}
.grid-experiencia .experiencia4 p {
  grid-row: 4/6;
}

.imagen-index {
  width: 100%;
}

.logo {
  width: 7%;
  border-radius: 50%;
  margin: 10px 0;
}

body,
#home,
#sobre-mi,
#experiencia,
#skills,
#proximamente,
#contacto {
  background-color: #333;
  color: #fff;
  text-align: justify;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  flex-grow: 1;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav ul.active {
  display: flex;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
nav a:hover {
  color: #b9b629;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #333;
  color: #fff;
  text-align: justify;
  padding: 10px;
  row-gap: 15px;
}
.grid-container h2 {
  color: black;
}

.p-skills1,
.p-skills2,
.p-skills3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  flex-direction: column;
  margin-left: 45px;
}

.img-skills1,
.img-skills2,
.img-skills3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
}

.section1,
.section2,
.section3 {
  display: grid;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1/4;
}
.section1 img,
.section2 img,
.section3 img {
  width: 30%;
}

.section2 img {
  width: 20%;
}

.section3 img {
  width: 30%;
}

.grid-container-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #333;
  color: #fff;
  text-align: justify;
  padding: 10px;
  gap: 15px;
}

.section1-about {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/3;
}

.p-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/3;
  margin-right: 15px;
}

.img-about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 4/5;
}
.img-about img {
  max-width: 1500px;
  width: 70%;
  border-radius: 5%;
}

.section2-about {
  grid-column: 1/3;
  grid-row: 3/5;
}

.section3-about {
  grid-column: 3/5;
  grid-row: 3/5;
}

#hablemos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #3498db;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    display: none;
    width: 100%;
    text-align: center;
    background-color: #333;
  }
  nav ul.active {
    display: flex;
  }
  nav li {
    margin: 10px 0;
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
  .menu-icon {
    display: block;
    width: 30px;
    height: auto;
    cursor: pointer;
    display: flex;
  }
  .menu-icon.inactive {
    display: none;
  }
  .menu-icon-close.active {
    display: block;
    width: 30px;
    height: auto;
    cursor: pointer;
    display: flex;
  }
  .menu-icon-close.inactive {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
