$font-stack: Verdana, Geneva, Tahoma, sans-serif;
$primary-color: #333;
$secondary-color: #fff;
$link-color: #fff;
$button-bg: #010101;
$button-hover-bg: #b9b629;
$button-text-color: #fff;
$loader-size: 50px;
$loader-border-size: 5px;
$loader-color: #3498db;
$loader-speed: 1s;