$primary-color: #333;
$secondary-color: #b9b629;
$font-family-base: 'Verdana, Geneva, Tahoma, sans-serif';
$font-family-alt: 'Arial, Helvetica, sans-serif';
$font-size-large: larger;
$font-size-medium: medium;
$text-color: #fff;
$background-color: #010101;
$border-radius: 5px;
$transition-time: 0.3s;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
