form {
    background-color: #a39d9d;
    font-family: $font-family-alt;
    padding: 20px;
    border-radius: 8px;
    @include box-shadow;

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            margin-top: 5px;
            box-sizing: border-box;
        }
    }
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    font-family: $font-family-alt;
    background-color: #030303;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: $secondary-color;
    }
}
