p,
h1,
h4,
h2,
header {
  font-family: $font-stack;
}

h1 {
  font-size: larger;
  background-color: black;
  color: $secondary-color;
}

h2 {
  color: $secondary-color;
  font-size: medium;
  text-align: justify;
  background-color: white;
  opacity: 80%;
  border-radius: 5%;
}