body {
    background-color: $primary-color;
    font-family: $font-family-base;
    color: $text-color;
}

p, h1, h2, h4, header {
    font-family: $font-family-base;
}

h1 {
    font-size: $font-size-large;
    background-color: black;
    color: $text-color;
}

h2 {
    font-size: $font-size-medium;
    text-align: justify;
    color: $text-color;
}
